<!DOCTYPE HTML>
<html>
<head>
    <title>Spring boot Web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <a href="/"><h1>Heeji's Springboot aws project</h1></a>
    <a href="/">Home</a>
    <a href="/index">Book shelf</a>

