body {
    font-family: 'Blinker', sans-serif!important;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightsteelblue;
   padding: 10px;
}
.navbar-right {
    margin-right: 0!important;
}

.homeTitle {
    font-size: 30px;
    padding-bottom: 15px;
}

.padding15 {
    padding: 15px;
}