<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body>
    <div th:replace="fragments/common :: nav"></div>

    <div class="container">
        <p class="homeTitle">&#128587; Welcome to my little web project page!</p>
        <p><strong>Page description</strong></p>
        <p>Home : Home</p>
        <p>Book shelf : Some good books to share</p>
        <p>Covid Dashboard : Coming soon</p>
    </div>

    <th:block th:replace="fragments/common :: footer"></th:block>

</body>
</html>